.App {
  text-align: center;
  background: radial-gradient(#437efd, rgb(29, 3, 65));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(60px + 2vmin);
  color: white;
}

.number-input {
  border-radius: 40px;
  width: 370px;
  height: 40px;
  padding: 10px;
  font-size: 20px;
  box-shadow: 5px 5px 1px 0px rgba(0, 0, 0, 0.9);
  border: none;
  text-align: center;
  position: fixed;
  margin-top: 150px;
  transition: 0.3s;
  background-color: #d7deee;
  outline: none;
}

.number-input:hover {
  width: 400px;
  transition: 0.3s;
}

.number-input:focus {
  width: 400px;
  background-color: #ffff;
  transition: 0.3s;
}

.header {
  padding: 30px;
  margin-top: -280px;
  position: fixed;
  animation-duration: 1s;
  animation-name: slidein-header;
}

.rotate270 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  margin-bottom: 30px;
}

.arrow {
  animation-duration: 1s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(3px 3px 0px rgb(0, 0, 0));
}

@keyframes slidein {
  from {
    margin-top: 1vh;
    width: 100%;
  }

  to {
    margin-top: -2vh;
    width: 100%;
  }
}

@keyframes slidein-header {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.result {
  position: fixed;
  margin-top: 400px;
  font-size: 30px;
  color: #91dcf3;
}

.all-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: -10vh;
}
